body {
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: solid red;
}
.green{
    border: solid green;
}
.banner{
    background: url("./media/banner.jpg") center center no-repeat;
    height: 500px;
    padding: 20px;
}
.about-sign-in{
    height: 80px;
    width: 100%;
    text-align: right;
}
.about-us, .sign-in {
    text-decoration: none;
    padding: 7px;
    margin-top: 20px;
    display: inline-block;
}
.sign-in{
    margin-right: 60px;
    /* margin-top: 30px; */
    margin-left: 20px;
    border: solid green;
    border-radius: 20px;
}
.logo{
    background: url("./media/hapoERP.png") center center no-repeat ;
    height: 100;
    margin-top: 30px;
}
.text{
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize
}
.btn-start{
    text-align: center;
    text-transform: uppercase;
    
}
button{
    padding: 17px 45px;
    margin-top: 41px;
    border: solid green;
    border-radius: 20px;
    cursor: pointer;
}
.left,.right,.center{
    width: 33%;
    display: inline-block;
    text-align: center;
}
span{
    display: block;
}
img{
    width: 20%;
    height: 20%;
}